 # Let's learn some concepts before working with data-set

## ML Definition

<html><p style="font-size:20px">Machine learning is an application of artificial intelligence (AI) that provides systems the ability to automatically learn and improve from experience without being explicitly programmed

# Supervised Learning

<html><p style="font-size:20px">In supervised learning, you train your model on a labelled dataset that means we have both raw input data as well as its results. We split our data into a training dataset and test dataset where the training dataset is used to train our network whereas the test dataset acts as new data for predicting results or to see the accuracy of our model.

<html><p style="font-size:20px">
Some algorithms for supervised learning
 <html><p style="font-size:20px">
Linear Regression
<html><p style="font-size:20px">
Random Forest
<html><p style="font-size:20px">
Support Vector Machines (SVM)

## Un-Supervised Learning

<html><p style="font-size:20px">In unsupervised learning, the information used to train is neither classified nor labelled in the dataset. Unsupervised learning studies on how systems can infer a function to describe a hidden structure from unlabelled data. The main task of unsupervised learning is to find patterns in the data.

<html><p style="font-size:20px">
Some algorithms available for unsupervised learning are
 <html><p style="font-size:20px">
Principal Component Analysis Algorithm
<html><p style="font-size:20px">
K-means Algorithm
<html><p style="font-size:20px">
Singular Value Decomposition Algorithm

# Loading Libaries

In [1]:
import pandas as pd
import numpy as np

# Loading the Data-sets

## Boston Data-Set

In [4]:
boston=pd.read_csv("https://raw.githubusercontent.com/sravansai04/IBM/master/finding%20model/boston_data.csv")
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.15876,0.0,10.81,0.0,0.413,5.961,17.5,5.2873,4.0,305.0,19.2,376.94,9.88,21.7
1,0.10328,25.0,5.13,0.0,0.453,5.927,47.2,6.9320,8.0,284.0,19.7,396.90,9.22,19.6
2,0.34940,0.0,9.90,0.0,0.544,5.972,76.7,3.1025,4.0,304.0,18.4,396.24,9.97,20.3
3,2.73397,0.0,19.58,0.0,0.871,5.597,94.9,1.5257,5.0,403.0,14.7,351.85,21.45,15.4
4,0.04337,21.0,5.64,0.0,0.439,6.115,63.0,6.8147,4.0,243.0,16.8,393.97,9.43,20.5

<html><p style="font-size:20px">In the above data-set we need to find the <b> median value of owner-occupied homes in $1000s.</b> so this is the Regression Problem

## Diabetis Data-Set

In [5]:
diabetis=pd.read_csv("https://raw.githubusercontent.com/sravansai04/IBM/master/finding%20model/diabetes.csv")
diabetis.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

<html><p style="font-size:20px">When we observe the above data-set,we can say that the independent feature is <b>outcome </b>which is a classification mode because we need to predict whether a person
diabetic or not

In [9]:
diabetis['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

## Fitting the model

In [35]:
from sklearn.model_selection import train_test_split
X=diabetis.drop(['Outcome'],axis=1)
y=diabetis['Outcome']
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [39]:
from sklearn.linear_model import LogisticRegression
los=LogisticRegression()
los.fit(X_train,y_train)

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

## Bikes Dataset

In [7]:
day=pd.read_csv("https://raw.githubusercontent.com/sravansai04/IBM/master/finding%20model/day.csv")
day.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [40]:
hour=pd.read_csv("https://raw.githubusercontent.com/sravansai04/IBM/master/finding%20model/hour.csv")
hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

<html><p style="font-size:20px">When we observe the above data-set,we can say that the independent feature is <b>cnt</b> and it has the values as continous values the values cnt 
is nothing but count of total rental bikes including both casual and registered